#link-resume {
  position: absolute;
  background-color: #e31b6d;
  width: 30%;
  left: 0px;
  transition: 0.25s ease;
  z-index: 1;
  font-size: 18px !important;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  font-size: calc(
    10px + (20 - 10) * ((100vw - 300px) / (1600 - 300))
  ) !important;
}
.btn {
  border-radius: 0 !important;
  font-size: calc(5px + (16 - 5) * ((100vw - 300px) / (1600 - 300))) !important;
}
#link-about {
  position: absolute;
  background-color: rgb(132, 211, 238);
  width: 70%;
  right: 0px;
  transition: 0.25s ease;
  z-index: 1;
  font-size: 18px !important;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  font-size: calc(
    10px + (20 - 10) * ((100vw - 300px) / (1600 - 300))
  ) !important;
}
#root {
  font-family: "Raleway";
}

#link-resume:hover {
  width: 60%;
}
#link-resume:hover + #link-about {
  width: 40%;
}

.nav-item {
  margin-left: 40px;
  font-size: calc(15px + (21 - 15) * ((100vw - 300px) / (1600 - 300)));
}
nav {
  position: sticky;
  top: 0;
  height: 50px !important;
  border-bottom: 5px solid rgb(132, 211, 238);
  box-sizing: content-box;
  z-index: 99;
}
.nav-item:hover {
  color: #e31b6d !important;
  transition: 0.5s ease;
}

nav a {
  font-size: calc(15px + (21 - 15) * ((100vw - 300px) / (1600 - 300)));
}
@media only screen and (max-width: 768px) {
  .btn {
    font-size: 0.8rem !important;
  }
  .navbar-brand {
    margin: 0 !important;
  }
  .nav-item {
    margin-left: 15px;
  }
  #link-about {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    font-size: 25px;
  }
  #link-resume {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    font-size: 25px;
  }
  #button_area {
    margin-top: 10% !important;
  }
  #contact-form {
    width: 90vw !important;
  }
  #link-resume:hover {
    width: 100%;
  }
  #link-resume:hover + #link-about {
    width: 100%;
  }
  .container.social-icon {
    width: 50% !important;
  }
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.navbar-nav {
  flex-direction: row !important;
  z-index: 2;
}

.hexagon {
  width: 120px;
  height: 70px;
  background: rgb(132, 211, 238);
  position: relative;
  margin: 10px auto;
  z-index: -1;
}

.hexagon:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -35px;
  left: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 35px solid rgb(132, 211, 238);
  z-index: -1;
}

.hexagon:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -35px;
  left: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 35px solid rgb(132, 211, 238);
  z-index: -1;
}
.hex-icon {
  position: relative;
}
.hex-icon i {
  position: relative;
  top: -18px;
  z-index: 0;
  color: white;
  font-size: 70px;
}
.animated {
  opacity: 0;
}
.fill {
  transition: 1.1s 0.2s width ease-in-out !important;
}
input[type="text"],
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 10px 15px;
  background: #1e242c;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
#text-project {
  font-size: calc(15px + (21 - 15) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 576px) {
  .col-sm-4.pro {
    -ms-flex: none !important;
    flex: none !important;
    max-width: none !important;
  }
}
@media (min-width: 900px) {
  .col-sm-4.pro {
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
}
